@import 'utils';

.memo-folder {
  background: white;
  display: flex;
  flex-direction: column;
  .folder-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 2rem;
    padding-top: 3rem;
    height: 4.5rem;
  }

  .folder-footer {
    position: absolute;
    border: 1px solid black;
  }
}