@import 'utils';

.memo-header {
  height: 3rem;
  background: $oc-gray-0;
  display: flex;

  input {
    width: 250px;
    height: 30px;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    background: $oc-gray-0;
  }
}