@import 'utils';

.memo-header {
  .panes {
    height: calc(100vh - 2rem); // 페이지 높이에서 header 빼는 부분
    display: flex;
    border: 1px solid $oc-gray-2;
    .pane {
      border: 1px solid $oc-gray-2;
    }
    .memo-folder {
      background: $oc-gray-0;
      width: 25%;
      min-width: 200px;
    }
    .memo-list {
      background: $oc-gray-0;
      width: 75%;
      min-width: 200px;
    }
  }
}