@import 'utils';

.memo-header {
  .panes {
    height: calc(100vh - 4rem); // 페이지 높이에서 header 빼는 부분
    display: flex;
    border: 1px solid $oc-gray-2;
    .pane {
      border: 1px solid $oc-gray-2;
    }
    .memo-folder {
      background: $oc-gray-0;
      width: 15%;
      min-width: 200px;
    }
    .memo-list {
      background: $oc-gray-0;
      width: 35%;
      min-width: 200px;
    }
    .memo-content {
      background: $oc-gray-0;
      width: 60%;
    }
    // .separator {
    //   width: 1rem;
    //   height: 100%;
    //   position: absolute;
    //   transform: translate(-50%); // 자신의 50%만큼 왼쪽으로 이동
    //   cursor: col-resize; // 리사이즈 커서
    //   background: black;
    // }
  }
}