@import 'utils';


.folder {
  height: 4rem;
  //border: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-weight: 800;
   
  &:hover {
    box-shadow: inset 10px 0 2px 0 $oc-lime-8;
  }
}

