@import 'utils';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  //border: 1px solid $oc-green-9;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  background: $oc-lime-7;
  color: $oc-lime-1;
  margin: 3px;
  cursor: pointer;
}